.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 100%;
    margin: 0;
}

/* Sidebar */

.wy-side-nav-search {
    background: #00838f
}

.wy-menu-vertical a:active {
    background-color: #00838f;
}

/* Links */

a {
    color: #00838f
}