.wy-nav-content {
    padding: 1.618em 3.236em;
    height: 100%;
    max-width: 100%;
    margin: 0;
}

/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
    background: #00838f
}

/* Sidebar */
.wy-nav-side {
    background: #00838f
}

/* Links */
a {
 color: #00838f
}